gas_scheduler_flows.json
[
  {
    "id": "47a279345d2c43f7",
    "type": "tab",
    "label": "GAS Scheduler",
    "disabled": false,
    "info": "CENTRALIZED SCHEDULER \u2014 Node-RED is the single control plane.\nAll GAS time-driven triggers have been migrated here.\nRun migrateTriggersToNodeRED() in GAS to remove old triggers."
  },
  {
    "id": "69340ef44bd94ffe",
    "type": "comment",
    "z": "47a279345d2c43f7",
    "name": "\u26a1 GAS SCHEDULER \u2014 Node-RED is the Single Control Plane",
    "info": "This tab replaces ALL GAS time-driven triggers.\n\nHOW IT WORKS:\n  1. Cron inject fires at the scheduled time\n  2. Function node preps the GAS action payload\n  3. HTTP request calls GAS web app\n  4. Result handler checks success/failure\n  5. On failure \u2192 alerts Slack #alerts\n\nTO DISABLE: Click the inject node \u2192 set to disabled\nTO RE-SCHEDULE: Click inject \u2192 change cron expression",
    "x": 360,
    "y": 40,
    "wires": []
  },
  {
    "id": "22022bff8918461d",
    "type": "comment",
    "z": "47a279345d2c43f7",
    "name": "\u2501\u2501\u2501 HIGH-FREQUENCY (every 5-30 min) \u2501\u2501\u2501",
    "info": "",
    "x": 300,
    "y": 80,
    "wires": []
  },
  {
    "id": "e8cd9ab1fec34c81",
    "type": "comment",
    "z": "47a279345d2c43f7",
    "name": "\u2501\u2501\u2501 HOURLY / MULTI-HOUR \u2501\u2501\u2501",
    "info": "",
    "x": 260,
    "y": 380,
    "wires": []
  },
  {
    "id": "69502bd4ff8d422d",
    "type": "comment",
    "z": "47a279345d2c43f7",
    "name": "\u2501\u2501\u2501 DAILY \u2501\u2501\u2501",
    "info": "",
    "x": 220,
    "y": 520,
    "wires": []
  },
  {
    "id": "0700701f28574cb7",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 5 min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/5 * * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 120,
    "wires": [
      [
        "ac6f6151346a4276"
      ]
    ]
  },
  {
    "id": "ac6f6151346a4276",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 runAutoPostingEngine",
    "func": "msg.payload = { action: 'runAutoPostingEngine' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=runAutoPostingEngine';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"runAutoPostingEngine...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "wires": [
      [
        "832eeace5660458d"
      ]
    ]
  },
  {
    "id": "832eeace5660458d",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 120,
    "wires": [
      [
        "5bfc3985a7c841f3"
      ]
    ]
  },
  {
    "id": "5bfc3985a7c841f3",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 120,
    "wires": [
      [
        "8ffb18537a304c21"
      ]
    ]
  },
  {
    "id": "8ffb18537a304c21",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "c2f35535e3cc4fb9",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 10 min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/10 * * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 180,
    "wires": [
      [
        "e4946af6757e4e97"
      ]
    ]
  },
  {
    "id": "e4946af6757e4e97",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 processConciergeQueue",
    "func": "msg.payload = { action: 'processConciergeQueue' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=processConciergeQueue';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"processConciergeQueue...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 180,
    "wires": [
      [
        "65ad696e83b34ca2"
      ]
    ]
  },
  {
    "id": "65ad696e83b34ca2",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 180,
    "wires": [
      [
        "22dc3a7245274a64"
      ]
    ]
  },
  {
    "id": "22dc3a7245274a64",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 180,
    "wires": [
      [
        "8fdcfb0faab644ec"
      ]
    ]
  },
  {
    "id": "8fdcfb0faab644ec",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "786b8de0367b447e",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 15 min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/15 * * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 240,
    "wires": [
      [
        "fc0793fa9f254d4a"
      ]
    ]
  },
  {
    "id": "fc0793fa9f254d4a",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 scoreAndSyncQualifiedRows",
    "func": "msg.payload = { action: 'scoreAndSyncQualifiedRows' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=scoreAndSyncQualifiedRows';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"scoreAndSyncQualifiedRows...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 240,
    "wires": [
      [
        "d1d562f107b94b64"
      ]
    ]
  },
  {
    "id": "d1d562f107b94b64",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 240,
    "wires": [
      [
        "2f08fa3e7e6c4000"
      ]
    ]
  },
  {
    "id": "2f08fa3e7e6c4000",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 240,
    "wires": [
      [
        "12dd9fbc8460485b"
      ]
    ]
  },
  {
    "id": "12dd9fbc8460485b",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "9813c94555a048a5",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 30 min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/30 * * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 300,
    "wires": [
      [
        "73c2310d054f452b"
      ]
    ]
  },
  {
    "id": "73c2310d054f452b",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 pollWixIntakeQueue",
    "func": "msg.payload = { action: 'pollWixIntakeQueue' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=pollWixIntakeQueue';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"pollWixIntakeQueue...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 300,
    "wires": [
      [
        "a48231d1e5de4d42"
      ]
    ]
  },
  {
    "id": "a48231d1e5de4d42",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 300,
    "wires": [
      [
        "dbce8bcf62d74642"
      ]
    ]
  },
  {
    "id": "dbce8bcf62d74642",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 300,
    "wires": [
      [
        "a772f117f98c4181"
      ]
    ]
  },
  {
    "id": "a772f117f98c4181",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "7734c9f1ecd44537",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 30 min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/30 * * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "4ed08d5409cb443b"
      ]
    ]
  },
  {
    "id": "4ed08d5409cb443b",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 refreshGoogleTokens",
    "func": "msg.payload = { action: 'refreshGoogleTokens' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=refreshGoogleTokens';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"refreshGoogleTokens...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 360,
    "wires": [
      [
        "67d80ecc8d7048d8"
      ]
    ]
  },
  {
    "id": "67d80ecc8d7048d8",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 360,
    "wires": [
      [
        "6d85f16c68b8450a"
      ]
    ]
  },
  {
    "id": "6d85f16c68b8450a",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 360,
    "wires": [
      [
        "88a169c0761c4bd7"
      ]
    ]
  },
  {
    "id": "88a169c0761c4bd7",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "b0a8b7e707314dc0",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 30 min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "*/30 * * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 420,
    "wires": [
      [
        "143851ef455441be"
      ]
    ]
  },
  {
    "id": "143851ef455441be",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 TG_processCourtDateReminders",
    "func": "msg.payload = { action: 'TG_processCourtDateReminders' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=TG_processCourtDateReminders';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"TG_processCourtDateReminders...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 420,
    "wires": [
      [
        "0c207d04edf4428e"
      ]
    ]
  },
  {
    "id": "0c207d04edf4428e",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 420,
    "wires": [
      [
        "b1a70079a54645a5"
      ]
    ]
  },
  {
    "id": "b1a70079a54645a5",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 420,
    "wires": [
      [
        "242181ebcd5d4ace"
      ]
    ]
  },
  {
    "id": "242181ebcd5d4ace",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "7e931f955c534fd4",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 Every 6 hours",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 */6 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 480,
    "wires": [
      [
        "c7097ad228754507"
      ]
    ]
  },
  {
    "id": "c7097ad228754507",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 checkForChanges",
    "func": "msg.payload = { action: 'checkForChanges' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=checkForChanges';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"checkForChanges...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 480,
    "wires": [
      [
        "d440e8f113264752"
      ]
    ]
  },
  {
    "id": "d440e8f113264752",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 480,
    "wires": [
      [
        "6a75baa88fd34bbc"
      ]
    ]
  },
  {
    "id": "6a75baa88fd34bbc",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 480,
    "wires": [
      [
        "dc223a5d573f4db6"
      ]
    ]
  },
  {
    "id": "dc223a5d573f4db6",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 480,
    "wires": [
      []
    ]
  },
  {
    "id": "2d626dfd126c4332",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 3:00 AM (Tokens)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 3 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 560,
    "wires": [
      [
        "85b3a2f8f5c34319"
      ]
    ]
  },
  {
    "id": "85b3a2f8f5c34319",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 refreshLongLivedTokens",
    "func": "msg.payload = { action: 'refreshLongLivedTokens' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=refreshLongLivedTokens';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"refreshLongLivedTokens...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 560,
    "wires": [
      [
        "60bf2aa96efa48a6"
      ]
    ]
  },
  {
    "id": "60bf2aa96efa48a6",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 560,
    "wires": [
      [
        "a37f060b7e424bbf"
      ]
    ]
  },
  {
    "id": "a37f060b7e424bbf",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 560,
    "wires": [
      [
        "f8b93305ba944d9d"
      ]
    ]
  },
  {
    "id": "f8b93305ba944d9d",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "e902263901fb43a0",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 6:00 AM (Offenders)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 6 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 620,
    "wires": [
      [
        "ecf89f1cf0b04fa6"
      ]
    ]
  },
  {
    "id": "ecf89f1cf0b04fa6",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 runDailyRepeatOffenderScan",
    "func": "msg.payload = { action: 'runDailyRepeatOffenderScan' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=runDailyRepeatOffenderScan';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"runDailyRepeatOffenderScan...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 620,
    "wires": [
      [
        "99323c4ea0e848c7"
      ]
    ]
  },
  {
    "id": "99323c4ea0e848c7",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 620,
    "wires": [
      [
        "a33cb2720ab34313"
      ]
    ]
  },
  {
    "id": "a33cb2720ab34313",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 620,
    "wires": [
      [
        "57f690aefd754cd4"
      ]
    ]
  },
  {
    "id": "57f690aefd754cd4",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 620,
    "wires": [
      []
    ]
  },
  {
    "id": "147c7bc9cd6f432f",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 7:00 AM (Risk)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 7 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 680,
    "wires": [
      [
        "d7bf314b973243b0"
      ]
    ]
  },
  {
    "id": "d7bf314b973243b0",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 runRiskIntelligenceLoop",
    "func": "msg.payload = { action: 'runRiskIntelligenceLoop' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=runRiskIntelligenceLoop';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"runRiskIntelligenceLoop...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 680,
    "wires": [
      [
        "07a90b0b64a1445a"
      ]
    ]
  },
  {
    "id": "07a90b0b64a1445a",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 680,
    "wires": [
      [
        "8382a01e49634f5b"
      ]
    ]
  },
  {
    "id": "8382a01e49634f5b",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 680,
    "wires": [
      [
        "2e4a7a8fb5464ec4"
      ]
    ]
  },
  {
    "id": "2e4a7a8fb5464ec4",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "b03932733add4f42",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 9:00 AM (Court)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 9 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 740,
    "wires": [
      [
        "f77437452e6e4296"
      ]
    ]
  },
  {
    "id": "f77437452e6e4296",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 processDailyCourtReminders",
    "func": "msg.payload = { action: 'processDailyCourtReminders' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=processDailyCourtReminders';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"processDailyCourtReminders...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 740,
    "wires": [
      [
        "dc473ace368f41f2"
      ]
    ]
  },
  {
    "id": "dc473ace368f41f2",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 740,
    "wires": [
      [
        "e806b03d9b5f4fd6"
      ]
    ]
  },
  {
    "id": "e806b03d9b5f4fd6",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 740,
    "wires": [
      [
        "0f20abbd3cc34b66"
      ]
    ]
  },
  {
    "id": "0f20abbd3cc34b66",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 740,
    "wires": [
      []
    ]
  },
  {
    "id": "088aac2d1f72469a",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 10:00 AM Mon (Payments)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 10 * * 1",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 800,
    "wires": [
      [
        "5aab15b511274d5b"
      ]
    ]
  },
  {
    "id": "5aab15b511274d5b",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 TG_processWeeklyPaymentProgress",
    "func": "msg.payload = { action: 'TG_processWeeklyPaymentProgress' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=TG_processWeeklyPaymentProgress';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"TG_processWeeklyPaymentProgress...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 800,
    "wires": [
      [
        "a438ae24ef9c4085"
      ]
    ]
  },
  {
    "id": "a438ae24ef9c4085",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 800,
    "wires": [
      [
        "29e9d3e3bf944b89"
      ]
    ]
  },
  {
    "id": "29e9d3e3bf944b89",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 800,
    "wires": [
      [
        "759e94059721477b"
      ]
    ]
  },
  {
    "id": "759e94059721477b",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 800,
    "wires": [
      []
    ]
  },
  {
    "id": "bead7dddcd7e412b",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 11:00 AM (Retry Posts)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 11 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 860,
    "wires": [
      [
        "e6e02a0cb8b84253"
      ]
    ]
  },
  {
    "id": "e6e02a0cb8b84253",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 retryFailedPosts",
    "func": "msg.payload = { action: 'retryFailedPosts' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=retryFailedPosts';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"retryFailedPosts...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 860,
    "wires": [
      [
        "34500bac48c8428d"
      ]
    ]
  },
  {
    "id": "34500bac48c8428d",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 860,
    "wires": [
      [
        "5daa759b8f364a64"
      ]
    ]
  },
  {
    "id": "5daa759b8f364a64",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 860,
    "wires": [
      [
        "1f6d0207ca6a4a9e"
      ]
    ]
  },
  {
    "id": "1f6d0207ca6a4a9e",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 860,
    "wires": [
      []
    ]
  },
  {
    "id": "9a89ea3b1b714a2b",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 11:00 AM (Check-ins)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 11 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 920,
    "wires": [
      [
        "4c3fcd25f58a4adb"
      ]
    ]
  },
  {
    "id": "4c3fcd25f58a4adb",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 sendAutomatedCheckIns",
    "func": "msg.payload = { action: 'sendAutomatedCheckIns' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=sendAutomatedCheckIns';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"sendAutomatedCheckIns...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 920,
    "wires": [
      [
        "2a40e55dcce746ef"
      ]
    ]
  },
  {
    "id": "2a40e55dcce746ef",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 920,
    "wires": [
      [
        "bed6178e83d948be"
      ]
    ]
  },
  {
    "id": "bed6178e83d948be",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 920,
    "wires": [
      [
        "e244b91238c94a57"
      ]
    ]
  },
  {
    "id": "e244b91238c94a57",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "f33a62cff2dc4a13",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 1:00 PM (Geofence)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 13 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 980,
    "wires": [
      [
        "61a58f942ed84b9b"
      ]
    ]
  },
  {
    "id": "61a58f942ed84b9b",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 checkCourtDateProximity",
    "func": "msg.payload = { action: 'checkCourtDateProximity' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=checkCourtDateProximity';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"checkCourtDateProximity...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 980,
    "wires": [
      [
        "67e7e0d4f2114cfe"
      ]
    ]
  },
  {
    "id": "67e7e0d4f2114cfe",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 980,
    "wires": [
      [
        "ca82a3f204cb4d9c"
      ]
    ]
  },
  {
    "id": "ca82a3f204cb4d9c",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 980,
    "wires": [
      [
        "26b3dc0c6ec94339"
      ]
    ]
  },
  {
    "id": "26b3dc0c6ec94339",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 980,
    "wires": [
      []
    ]
  },
  {
    "id": "f6197160723841c0",
    "type": "inject",
    "z": "47a279345d2c43f7",
    "name": "\u23f0 2:00 PM (Reconcile)",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "0 14 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 1040,
    "wires": [
      [
        "e0192db80f924ef2"
      ]
    ]
  },
  {
    "id": "e0192db80f924ef2",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\ud83d\udce6 reconcilePaymentPlans",
    "func": "msg.payload = { action: 'reconcilePaymentPlans' };\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.url = 'https://script.google.com/macros/s/AKfycbzZfPy0nFDWWKcn731yX8kg9A0t_sCFK3rOdVBddGK1/exec?action=reconcilePaymentPlans';\nnode.status({fill:\"blue\", shape:\"ring\", text:\"reconcilePaymentPlans...\"});\nreturn msg;",
    "outputs": 1,
    "timeout": 30,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 1040,
    "wires": [
      [
        "97373448e1a844e5"
      ]
    ]
  },
  {
    "id": "97373448e1a844e5",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\ud83c\udf10 GAS Call",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 580,
    "y": 1040,
    "wires": [
      [
        "07ad318db6114283"
      ]
    ]
  },
  {
    "id": "07ad318db6114283",
    "type": "function",
    "z": "47a279345d2c43f7",
    "name": "\u2705 Result",
    "func": "const result = msg.payload || {};\nconst action = msg.payload.action || msg.topic || 'unknown';\nconst ok = result.success || result.status === 'ok' || msg.statusCode === 200;\n\nif (ok) {\n    node.status({fill:\"green\", shape:\"dot\", text:\"\u2705 \" + new Date().toLocaleTimeString('en-US', {timeZone:'America/New_York'})});\n} else {\n    node.status({fill:\"red\", shape:\"ring\", text:\"\u274c \" + (result.error || msg.statusCode || 'failed')});\n    \n    // Alert on failure\n    msg.headers = {\n        \"Authorization\": \"Bearer \" + (global.get(\"SLACK_TOKEN\") || \"\"),\n        \"Content-Type\": \"application/json; charset=utf-8\"\n    };\n    msg.payload = {\n        \"channel\": \"#alerts\",\n        \"text\": \"\u26a0\ufe0f *GAS Scheduler Alert*\\nAction failed: \" + action + \"\\nError: \" + (result.error || msg.statusCode || 'unknown')\n    };\n    msg.url = \"https://slack.com/api/chat.postMessage\";\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 780,
    "y": 1040,
    "wires": [
      [
        "ae194c6a03fc455d"
      ]
    ]
  },
  {
    "id": "ae194c6a03fc455d",
    "type": "http request",
    "z": "47a279345d2c43f7",
    "name": "\u26a0\ufe0f Slack Alert (on error)",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 980,
    "y": 1040,
    "wires": [
      []
    ]
  }
]